/*regole generali di pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


main{
    width: 100%;
}



/*regole header*/
header{
    background-color: rgb(80, 80, 238);
    height: 100px;
    display: flex;  
    align-items: center;
}

/*regole intestazione header*/
#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.first-list {    
    display: flex;
    justify-content: center; 
    min-width: 600px;
    flex-grow: 1;
    padding: 0;
    gap: 5%;  
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    font-weight: bolder;
    
}

#logo{
    align-self: center; 
    display: flex;
    flex-wrap: wrap;
}

.link{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}
button{
    border: none;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.accedi{
    background-color: #fff;
    text-decoration: none;
    display: flex;
    padding: 20px 20px;
    border-radius: 999999999px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    width: auto;
    flex-wrap: wrap; 
    font-size: large;
}

.browser{
    background-color: #191515;
    color: #fff;
    font-size: large;
}


/*regole intestazione main*/
.container{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;  
}

.w-60{
    width: 70%;
    display: flex;
}

h1{
    color: #fff;
    font-size: xxx-large;
    padding-bottom: 5%; 
}

h2{
    font-size: xx-large;
    padding-bottom: 5%;  
    padding: 5% 0;
}

h3{
    font-size: large;
    padding-bottom: 5%;  
    padding: 5% 0; 
    color: rgb(98, 5, 247)
}

p{
    color: #fff;
    text-align: center;
    font-size: large;
    padding-bottom: 5%;
    font-weight: bold; 
    
}


.bg-blu{
    background-color: blue;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
}

.bg-white{
    background-color: #fff;
    color: #000000;
    min-height: 70vh;
}

.bg-grey{
    background-color: rgb(245, 243, 243);
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
}

.double{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}


.ready{
    position: relative;
    bottom: 30%;
}
.videocall{
    align-self: center;
}

.pink{
    /* height: 200px; */
    width: 40%;
    border: 1px ; 
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  
}

.sky-blu{
    /*height: 200px;*/
    width: 60%;
    /* border: 1px solid black; */
    /* background-color: skyblue;*/
    padding: 10%;
}

.first{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size:contain ;
}

.second{
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.third{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.light-pink{
    /* height: 200px; */
    width: 40%; 
    /*border: 1px solid black;*/
    /* background-color: lightpink; */
}

#second-title{
    color: #000000;
    padding: 10% 5%;
}

#second-p{
    color: #000000;
    padding: 1% 5%;
    text-align: left;
    line-height: 2;
}

.green{
    /* height: 500px; */
    width: 100%;
    /* border: 1px solid black; */
    background-color:  rgb(245, 243, 243);
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

.last-title {
    text-align: center;
    color: #000000;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: xx-large;
    font-weight: bold;
}

.scarica{
    background-color: rgb(145, 198, 255); 
    color: #fff;
}

#last-p {
    text-align: center;
    color: #000000;
    padding-top: 0;
    line-height: 2;
}


/*regole footer*/
footer{
    background-color: #000000;
    min-height: 100px;
    
}


.sub-container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.sm-pink{   
    width: 100%; 
    /*border: 1px solid black;*/
    /*background-color: lightpink;*/
}

#footer-title{
    color: rgb(98, 5, 247);
}

.cadetblue{
    /* height: 400px; */
    width: 40%; 
    /* border: 1px solid lightgray;
    background-color: cadetblue; */
}

.last-list {    
    display: flex;
    justify-content: flex-start; 
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.final{
    padding: 10%; 
    padding-left: 0;
}

hr{
   color: lightgray; 
   margin-bottom: 1%;
   width: 70%;
   text-align: center;
   margin: auto;
}

.registrati{
    background-color: rgb(145, 198, 255);
    padding: 10px 10px;
    color: #fff;
}

#last-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    /* background-color: cadetblue;
    border: 2px solid black; */
    margin: 0 auto;
    padding: 1%;
}
